@import "property";
@import "mixin";

img {
	max-width: 100%;
}
body {
	background: #f6f8fa;
}
.section {
	width: 100%;
	float: left;
}
.page-header {
	padding: 10px 0;
	margin: 0 0;
}
.page-subheader {
	background: #fff;
	padding: 10px 0;
	margin-bottom: 40px;
	border-bottom: 1px solid #ccc;
	box-shadow: 1px 0 1px 0px #ccc;
}

.nav-pills {
	width: 100%;
	background: #fff;
	border: 1px solid #ccc;
	border-bottom: none;
	li {
		a {
			border-radius: 0;
			background: transparent;
		}
	}
}

.root-icon{
	/*margin: 0 10px;*/
    width: 26px;
    display: inline-block;
    margin-left: 10px;
    color: #c5cfda;
    &:before {
	    content: '';
	    width: 16px;
	    height: 2px;
	    background-color: currentColor;
	    display: inline-block;
	    position: relative;
	    top: -2px;
	}
	&:after {
	    border: 2px solid currentColor;
	    display: inline-block;
	    border-radius: 50%;
	    content: '';
	    width: 6px;
	    height: 6px;
	}
}

.table1 {
	font-size: 16px;
	border-top: 0;
	thead {
		background: #333;
		color: #fff;
	}
	tbody {
		&.active{
			display: table-row-group !important;	
		}

		td {
			&:first-child {
				position: relative;
				.img-meta {
					position: absolute;
					top: 0;
					left: 0;
					max-width: 100%;
					width: 100%;
					background: rgba(0,0,0,0.5);
					color: #fff;
					z-index: 9;
					display: block;
					height: 100%;
					text-align: center;
					padding: 50px;
					transform: scale(0.5);
					@include transition(all .3s);
					opacity: 0;
					a.btn {
						color: #fff;
						background: transparent;
						border: 1px solid #fff;
						display: inline-block;
						margin-bottom: 10px;
					}
					p {
						margin: 0 0 10px;
					}
				}
				&:hover {
					.img-meta {
						opacity: 1;
						transform: scale(1);
					}
				}
			}
			width: 33.33%;
			textarea {
				height: 60px;
				margin: -8px;
			    width: calc(100% + 16px);
			    border: none;
			    box-shadow: none;
			}
		}
		&#images {
			td {
				width: 50%;
				&:last-child {
					background: #fff;
					text-align: center;
					vertical-align: middle;
					input[type="file"] {
						display: inline-block;
					}
				}
			}
		}
	}
}
.table-responsive {
	box-shadow: 0px 2px 10px 2px #cccccc78;
	.table1 {
		margin-bottom: 0;
	}

}

.site-preview {
	border: 0;
	width: 100%;
	min-height: 400px;
}

.compare-table {
	border-top: 1px solid #ccc;
	tbody{
		td {
			width: 25%;
		}
	}
}
.panel-heading {
	font-size: 18px;
}

.main-footer {
	width: 100%;
	float: left;
	margin-top: 100px;
	background: #f0f0f0;
	text-align: center;
    color: #666;
    border-top: 1px solid #d3d3d3;
    padding-bottom: 30px;
    .container {
    	max-width: 500px;
    	margin: 0 auto;
    	.separator {
    		height: 1px;
    		margin: 10px;
    		width: 100%;
    		background: linear-gradient(to right, rgba(0,0,0,0), #333, rgba(0,0,0,0));
    	}
    }
}
.footer-rool {
    background: url('../images/footer_rule.png') center no-repeat;
    height: 65px;
    position: relative;
    top: -2px;
    opacity: 1;
    margin-bottom: 10px;
}