extends layout_common

block content
  // start page sub header
  .section.page-subheader
    .container-fluid
      div
        form.form-inline.pull-left(action='')
          .form-group
            label
              | English 
              span.root-icon
            label Japanese
  // start banner
  section#main-content.section.section-wrapper
    .container
      .panel.panel-primary
        .panel-heading
          strong Compare Site with analytics
        .panel-body
          .table-responsive
            table.table.table-bordered.table-hover.table-striped.table1.compare-table
              thead
                tr
                  th Name
                  th Old site
                  th New site
                  th Status
              tbody
                tr
                  td Total Visitor
                  td 100
                  td 100000
                  td Improved
                tr
                  td Total Pageviews
                  td 200
                  td 200000
                  td Improved
                tr
                  td Bounce Rate
                  td 80%
                  td 8%
                  td Improved
                tr
                  td SEO Score
                  td 30
                  td 70
                  td Improved
